tr {
	 font-style: normal;
	 font-family: cursive;
	 font-size: medium;
	 color: blue;
   }

h1 {
	font-style: normal;
	font-family: cursive;
	font-size: xx-large;
	color: blue;
   }
   
   h2{
     
	font-style: normal;
	font-family: cursive;
	font-size: xx-large;
	color: navy;
      }
   
   input[type=text] {
                     
                     border: none;
                     border-radius:4px;
                     border-bottom: 2px solid aqua;
                   }

input[type=submit] {
	           background-color: #4CAF50;
               border: none;
               border-radius:15px;
               color: white;
               padding: 16px 32px;
               text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
             }
 table.record{
              border-collapse: collapse;
              width: 50%;
             }

          
         table.record th{
                           text-align: center;
                           padding: 8px;
                           }
         table.record td{   font-family: cursive;
                           text-align: center;
                           padding: 8px;
                           } 

     table.record tr:nth-child(even){background-color: #f2f2f2}

          table.record th {
                           background-color: #4CAF50;
                           color: white;  
                           }
          
             

             